@media (max-width: 1400px) {
  .container {
    padding: 40px 16px 23px 50px;
    gap: 1.4rem;
    grid-template-columns: 20rem auto 15rem;
  }
}

@media (max-width: 1200px) {
  
}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 450px) {}

@media (max-width: 367px) {}