@media (max-width: 1500px) {
  .container {
    padding: 40px 16px 23px 30px;
    gap: 1.4rem;
    grid-template-columns: 20rem auto 15rem;
  }
  /* sidebar */
  .sidebarTopLogo {
    max-width: 146px;
    padding-top: 44px;
  }
  .sideBarMenu {
    padding: 55px 4px 153px;
  }
  .sideBarMenu nav ul li a {
    padding: 15px 20px 15px 16px;
  }
  .sidebarItem {
    gap: 16px;
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 30px 14px 22px 22px;
    gap: 1.2rem;
    grid-template-columns: 20rem auto 14rem;
  }
  /* sidebar */
  .sidebarTopLogo {
    max-width: 140px;
  }
  .sideBarMenu {
    padding: 55px 0px 153px;
  }
}

/* @media all and (min-width: 992px){
  .sidebar {
     display: flex !important;
  }
  .menu nav ul {
     display: flex !important;
  }
} */

@media (max-width: 1200px) {
  .container {
    padding: 28px 14px 22px 18px;
    gap: 1.2rem;
    grid-template-columns: 20rem auto;
  }
  /* leftSection */
  .leftProfile {
    padding: 16px;
  }
  .settingIcon {
    padding: 8px;
    width: 20px;
    height: 20px;
  }
  .leftMessageIcon img {
    width: 18px;
  }
  .leftSingleNotification {
    padding: 12px 14px;
    gap: 10px;
  }
  .leftSingleContain {
    gap: 10px;
  }
  .material-symbols-outlined {
    font-size: 20px;
  }
  .text_18 {
    font-size: 16px;
  }
  /* mainWrapper */
  .searchBar {
    margin: 0px 0 30px;
  }
  .dnoneMenu{
    display: block;
  }
  .sidebar{
    display: none;
  }
  .chartHeaderRight h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .chartArea {
    margin: 24px 0 0;
  }
}

@media (max-width: 991px) {
  /* manu */
  
  /* manu */
  .container {
    padding: 28px 14px 116px 18px;
    gap: 0.8rem;
    grid-template-columns: auto;
  }
  .mobileHendLogo,
  .mobileDV991{
    display: block;
  }
  .desktopMenuBar12s,
  .leftProfile,
  .dnoneMenu{
    display: none;
  }
  .searchBox_1{
    display: flex;
    justify-content: end;
  }
  .leftSection {
    order: 1;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .chartArea {
    margin: 36px 0 0;
  }
  
}

@media (max-width: 768px) {
  .chartHeader {
    gap: 30px;
    flex-direction: column;
  }
  .chartHeaderRight {
    padding: 25px 0px 0 0;
  }
  .chartHeaderRight h2 {
    font-size: 20px;
    line-height: 28px;
    max-width: 100%;
  }
  .progressCounting {
    width: 100%;
    max-width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 25px;
    background: #f9fbfd;
    padding: 13px 26px 4px 20px;
  }
  .numberCountBox_1 {
    font-size: 36px;
    line-height: 36px;
  }
  .numberCountBox_1 span {
    font-size: 30px;
  }
  .chartArea {
    margin: 30px 0 0;
    flex-direction: column;
  }
  .chartArea .chartRight{
    order: -1;
    max-width: 100%;
  }
  .chartLeft {
    max-width: 100%;
  }
  .chartArea {
    gap: 26px;
  }
  .countingBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .numberCountBox_1 p {
    width: 60px;
    display: inline-block;
  }
  .numberCounting{
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 28px 14px 100px 18px;
  }
  .mobile_bottom_nav {
    padding: 24px 19px;
    gap: 10px;
  }
  .singleMBMenu1 {
    width: 36px;
  }
  .singleMBMenuRight {
    width: 58px;
    padding: 18px 16px;
  }
  .mobileHendLogo {
    max-width: 120px;
  }
  .countingBar {
    flex-direction: column;
  }
}

@media (max-width: 450px) {}

@media (max-width: 367px) {}